<div class="row">
  <div class=".col-md-4 .col-md-offset-4">
    <%= form_tag('/particles', method: 'get') do %>
    
    <%= label_tag :artist_id, 'Select an artist' %>
    <%= select_tag :artist_id, options_for_select([['Taylor Swift', 47], ['Diplo', 162127], ['Sam Smith', 333281], ['Kendrick Lamar', 64], ['Miley Cyrus', 541]]) %>
    
    <%= label_tag :slice, 'Select a slice size' %>
    <%= number_field_tag :slice, nil, min: 1, max: 5, value: 1, class: 'form-control' %>
    
    <%= submit_tag "Check out particles!", class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
</div>


